@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d3d1d1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.wrapper {
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-family: "Rubik", sans-serif;
}



a {
  color: inherit;
  text-decoration: none;
}

header{
  position: relative;
  z-index: 1000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1rem 5%;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.nav h1 {
  font-weight: 300;
}

.links {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.links a:hover{
  text-decoration: underline;
}
.hanburger-menu{
  display: none;
  width: 30px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hanburger-menu span {
  width: 100%;
  height: 2px;
  background-color: black;
  
  transition: all 0.5s ease-in-out;
}

.hanburger-menu span:nth-child(1){
  width: 70%;
}
.hanburger-menu span:nth-child(3){
  width: 90%;
}
.cross span:nth-child(1){
  width: 100%;
  transform: translateY(10px) rotate(45deg);
}
.cross span:nth-child(2){
  opacity: 0;
}

.cross span:nth-child(3){
  width: 100%;
  transform: translateY(-8px) rotate(-45deg);
}

.first-section {
  min-height:80vh ;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top{

  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  margin: 3rem 0;
}

.left{
}
.left h1 {
  font-weight: 500;
}
.left h1 span {
  font-weight: 100;
}
.left p{
  margin-top: .5rem ;
  font-size: 1.2rem;
}

.right {
}


.right img {
  width: 100%;
  max-width: 300px;
}

.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-links {
  display: flex;
  align-items: center;
  gap: .2rem;
  
}
.social-links a {
  transition: all .5s ease-in-out; 
}

.social-links img{
  width: 30px;
  border: 1px solid black;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
   box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); 
      
}

.socila p {
  display: none;
}

.social-links a:hover{
  scale: 1.1;
  transform: translateX(15px);
}

.email {
  text-decoration: underline;
}



.second-section {
  height: max-content;
  padding: 1rem 5%;
  margin: 3rem 0;

}

.second-section h1,
.third-section h1 {
  font-weight: 600;
}

.what-i-do{
  margin: 5% auto;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box{
  cursor: pointer;
  width: 100%;
  max-width: 300px;
   padding: .5rem;
   height: 100%;
   display: flex;
   flex-direction: column;
   gap: .5rem;
   transition: all .5s ease-in-out;
  }
  .box:hover{
    scale: 1.1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
.box p{
  text-align: justify;
}

.box img {
   width: 40px;
   margin-bottom: .5rem;
}

.third-section,
.fourth-section{
  padding: 2rem 5%;
}
.ski {
  margin: 0 0 5rem 0; 
}


.skills {
  margin: 2rem 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skill {
  display: flex;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.skill:hover{
  scale: 1.1;
}


.skills img {
  width: 40px;
}

.fourth-section{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.fourth-section h1 {
  margin: 3rem 0;
  font-weight: 500;
}

.fourth-section hr {
  width: 70%;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
}

.experience h2 {
  font-weight: 400;
}


.experience p {
  text-align: justify;
  font-size: 14px;
  font-weight: 300;
}


.contact{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem 5%;
}

.contact h1 {
  font-weight: 500;
}


.bottom-left {
  flex: 5;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.bottom-left-p{
  font-size: larger;
}

.top-right{
  flex: 7;
}

.mail p {
  margin-bottom: .5rem;
}

.contact-social{
  display: flex;
  justify-content: space-between;
}

.follow-me {
  display: flex;
  gap: .5rem;
  margin-top: .5rem;
}

.follow-me .follow a img{
  width: 30px;
}




form {
  flex: 1;
  position: relative;
  border: none;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: .5rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


input {
  padding: 0.5rem .2rem;
  outline: none;
  max-width: 300px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #212121;
}

input::placeholder {
  font-size: .7rem;
}

textarea {
  padding: 0.5rem;
  max-width: 90%;
  min-width: 90%;
  outline: none;
  min-height: 60px;
  resize: vertical;
  max-height: 200px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #212121;
  
}



.submit {
  display: inline-block;
  width: fit-content;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #333;
  background-color: #fafbfc;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}
.submit:hover {
  color: #ffffff;
  background-color: #333;
  border-color: white;
  box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
  transition-duration: 0.1s;
}

/* form loader*/
.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #212121; /* Blue */
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-bottom: .5rem;
  animation: spin 2s linear infinite;
  display: none; /* Hide the loader by default */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.footer {
  text-align: center;
  margin: 3rem auto;
  font-size: 10px;
}


@media (max-width: 700px) {
  .hanburger-menu{
    display: flex;
  }
   .links {
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    flex-direction: column;
    top: -400%;
    left: 0;
    right: 0;
    padding: 1rem;
    opacity: 0;
    z-index: -1;
    transition: all 1s ease;
   }
   .links a {
    opacity: 0;
   }

   .show {
    top: 100%;
    opacity: 1;
   }

   .show a {
    opacity: 1;
   }

   .top{
    flex-direction: column;
   }

   .bottom {
    flex-direction: column;
    align-items: start;
    gap: 3rem;
   }

   .social-links{
    display: block;
   }

   .socila a {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    margin-bottom: .5rem;
   }

 

   .socila p {
    display: block;
   }

   .experience{
    width: 100%;
   }
   .fourth-section hr {
    width: 100%;
  }

  .contact{
    flex-direction: column-reverse;
  }



  .contact-social{
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem;
  }

  .social-links{
    margin-top: 1.5rem;
  }
}