@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Kanit&family=Montserrat:ital,wght@0,200;0,400;1,600&family=Open+Sans:ital@1&family=Roboto:wght@300;400&display=swap');


/*global css */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


/* header section */

header {
  width: 100%;
  margin: 0 auto;
  padding: 0 10vw;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.Header-icon {
  color: #fd0;
  font-style: italic;
  font-size: 1.5rem;
}

.Header-list ul a {
  text-decoration: none;
  margin: 5px;
  color: black;
  cursor: pointer;

}

/* header section ends */

/* home section starts */

.Home {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 80%;
   margin: 3rem auto ;
 
}

.Home-info {
  width: 20vw;
  min-width: 250px;
  
}
.Home-info p{
  font-weight: 300;
}

.Home-info h1 {
  margin: 5px 0;
  font-weight: 300;
}
.Home-info h4 {
  margin: 0 0 10px 0;
  line-height: 1.5rem;
  font-weight: 400;
}
.Home-info button {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 50px;
  min-width: 100px;
  height: 30px;
  font-size: 18px;
  background-color: #fd0;
  font-weight: 500;
  color: #222;
}



.Home-img {
  display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 20vw;
    min-width: 200px;
}

.Home-img img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/* home section ends */


/* About section  starts */

.About {
  width: 80%;
  margin: 2rem auto;
  text-align: center;
}

.About h1,
.Service h1 {
  width: fit-content;
  margin: 20px auto;
  font-weight: 300;
  border-bottom: 2px solid #fd0;
}
.About p {
  width: 80vw;
  max-width: 400px;
  font-weight: 300;
  line-height: 1.5rem;
  margin: 0 auto 15px auto;
}

.About button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3px;
  padding: 0 15px;
  border-radius: 4px;
  color: #fd0;
  background: transparent;
  line-height: 1.15;
  font-size: 14px;
  height: 36px;
  word-spacing: 0px;
  letter-spacing: .0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 64px;
  border: 1px solid #fd0;
  text-align: center;
  transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.About button:hover {
  background: #f4f4f4;
}



/* Skills section  ends */

.Skills {
  width: 80vw;
  margin: 5rem auto;
  text-align: center;
}
.Skills p {
  margin: 1rem auto ;
  max-width: 400px;
}

.Skills-skills{
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  justify-content: center;
  margin: 3rem auto;
}
.Skills-list{
  max-width: 300px;
  padding: 10px;
  box-shadow: 1px 1px 15px rgb(0, 0, 0, 0.1) ;
}
.Skills-list h2 {
  font-weight: 300;
  margin: 10px ;
}

.skill-icon {
  display: flex;
  align-items: center;
  scale: 1;
  transition-duration: 500ms;
}
.skill-icon:hover{
  scale: 1.1;
}

.icon {
  font-size: 2rem;
  color: #000;
}

/* Skills section  ends */

/* Footer section  starts */

footer{
  width: 80%;
  margin: 0 auto;
}

footer .Footer-content {
  text-align: center;
  background-color: rgb(251, 226, 65);
  
}

.Footer-content h2 {
  font-weight: 300;
  padding: 1rem 0 0 0;
}


footer .Footer-button {
  cursor: pointer;
  color: black;
  background-color: white;
  box-shadow: 1px 1px 10px #00000042;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 1rem;
  display: inline-block;
  min-height: 28px;
  transition: background-color .24s,box-shadow .24s;
  margin: 1rem ;
}

footer .Footer-button:hover {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, #fd0 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}

footer .icons {
  height: 3rem;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

footer .icons div a {
  color: #000;
}

footer .icons div p {
  font-weight: 200;
  font-size: .7rem;
}
/* Footer section  ends */

@media (max-width:450px) {
  .Home {
    flex-direction: column;
  }
  .Home-info {
    margin-bottom: 3rem;
  }

  .Skills-skills {
    grid-template-columns: auto;
  }

  .Footer-content h2 {
    font-size: 1rem;
  }

  footer{
    width: 100%;
    margin: 0 auto;
  }
}